Listen 6789
CacheSize 8096

<VirtualHost *:6789>
  DocumentRoot /home/httpd/html/zoo/classes/cs434/web/www-root
  ServerName cicada.cs.yale.edu
</VirtualHost>  

<VirtualHost *:6789>
  DocumentRoot /home/httpd/html/zoo/classes/cs434/web/mobile-root
  ServerName mobile.cicada.cs.yale.edu
</VirtualHost>  

<VirtualHost *:6789>
  DocumentRoot /Users/bradleylewis/Desktop/cpsc434-pset1/home
  ServerName localhost
</VirtualHost>

<VirtualHost *:6789>
  DocumentRoot /Users/alexandershin/school/year3/networks/cpsc434-pset1/home
  ServerName shin_localhost
</VirtualHost>